<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}philo-b{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">	

		{% block css %}
		{% endblock %}

		{% block javascript_head %}
		{% endblock javascript_head %}

		{% block templates %}
		{% endblock templates %}

	</head>

	<body>

		<div class="main-container">

			<div class="login-status">
				{% if user.is_authenticated %}

					Logged in as <b>{{ user.username }}</b> - 
					<a class="login-links" 
						href="{% url 'account_logout' %}
						?next={{ request.path }}">Logout
					</a><br>

				{% else %}

					<a class="login-links" 
						href="{% url 'account_login' %}
						?next={{ request.path }}">Sign in
					</a><br>

				{% endif %}
			</div>

			{% block toptag %}	
			{% endblock toptag %}	

			<h1>
				{% block header %}
				{% endblock header %}
			</h1>
			<h4 class="subheader">
				{% block subheader %}
				{% endblock subheader %}
			</h4>

			<hr class="separator-header">

			<div class="content-container">
				{% block content %}
				{% endblock content %}
			</div>	

			<div id="comments_container">
				{% block comments %}
				{% endblock comments %}
			</div>
		</div>

	</body>

	{% block javascript_tail %}
	{% endblock javascript_tail %}


</html>
 
