/* one possible method to centre the site: */
html, body {
	height: 100%;
}

html {
	background:	#686868;
}

body {
	width: 90%;
	min-width: 500px;
	max-width: 1000px;
	height: 100%;

	display: block;
	margin: 0 auto;
}
/* end centering section */

.main-container {
	height: auto;
	min-height: 100%;
	background:	#E8E8E8;
	text-align: center;
	margin: 10px 0 10px 0;
/* 30px is for submit button. footer should solve it */
	padding: 10px 0 30px 0; 
}

.content-container {
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
}

.subheader {
	margin: 0 10% 30px;
}

.separator-header {
	border-top: thin solid #686868;
	border-bottom: 0;
}

.login-status {
	text-align: right;
	margin: 0 15% 0 0;
}

.login-links {
	text-decoration: underline;
	color: black;
}
