
/* one method suggested to centre the site:
   body {
		text-align: center;
	}
*/

/* another method suggested to centre the site: */
html, body {
	width: 90%; 
	max-width: 1000px;
	height: 100%;
}

html {
	display: table;
	margin: auto;
	background:	#686868; 
	/*	#16796d;*/
}

body {
	display: table-cell;
	min-width: 500px;
	/* vertical-align: middle; */
}
/* end centering section */

.main-container {
	height: 100%;
	background:	#E8E8E8;
	text-align: center;
	margin: 10px 0 10px 0;
	padding: 10px 0 0 0;
}

.content-container {
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
}

h1 {
}

h4 {
	margin: 0 10% 30px;
}

hr {
	width: 80%;
}

.separator-header {
}

