/* one possible method to centre the site: */
html, body {
	width: 90%; 
	max-width: 1000px;
	height: 100%;
}

html {
	display: table;
	margin: auto;
	background:	#686868; 
}

body {
	display: table-cell;
	min-width: 500px;
}
/* end centering section */

.main-container {
	height: 100%;
	background:	#E8E8E8;
	text-align: center;
	margin: 10px 0 10px 0;
	padding: 10px 0 0 0;
}

.content-container {
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
}

.subheader {
	margin: 0 10% 30px;
}

.login-status {
	text-align: right;
	margin: 0 15% 0 0;
}

.login-links {
	text-decoration: underline;
	color: black;
}
