{% extends "base.html" %}<!DOCTYPE html>
{% block css %}
	<style>

		.top-tag {
			text-align: left;
			margin-left: 5%;
			font-weight: bold;
		}
		
		.main-text-container {
			margin: 0 auto;
			width: 80%;
		}

	</style>
{% endblock css %}
{% block toptag %}	

	<div class="top-tag">Philo-b</div>

{% endblock toptag %}	
{% block header %}

	{{ object.title }}

{% endblock header %}
{% block subheader %}

	{{ object.introduction }}

{% endblock subheader %}
{% block content %}
	
	<div class="main-text-container">

		{{ object.body }}
	</div>

{% endblock content %}
{% block comments %}

	<hr>
	{% for comment in post.comments.all %}

		<div class="comment">
			<div class="date">{{ comment.created_date }}</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
		</div>
	{% empty %}

		<p>No comments here yet :(</p>
	{% endfor %}

{% endblock comments %}

