{% extends "base.html" %}<!DOCTYPE html>
{% block css %}
	<style>

		.top-tag {
			text-align: left;
			margin-left: 5%;
			font-weight: bold;
		}
		
		.main-text-container {
			margin: 0 auto;
			width: 80%;
		}

		.separator-comment {
		}

	</style>
{% endblock css %}
{% block toptag %}	

	<div class="top-tag">Philo-b</div>

{% endblock toptag %}
{% block header %}

	{{ object.title }}

{% endblock header %}
{% block subheader %}

	{{ object.introduction }}

{% endblock subheader %}
{% block content %}

	<div class="main-text-container">

		{{ post.body }}

	</div>

{% endblock content %}
{% block comments %}
<!-- he keeps using something called |safe, what's that? -->

	<hr class="separator-comment">
	{% for comment in comments %}

		<div class="comments">
			<div class="date">{{ comment.pub_date }}</div>
			<strong>{{ comment.author_id }}</strong>
			<p>{{ comment.content|linebreaks }}</p>
		</div>

	{% empty %}

		<p>No comments here yet :(</p>

	{% endfor %}

{% endblock comments %}

