<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block css %}

	<link rel="stylesheet" href="{% static 'css/blog/home.css' %}" type="text/css" media="screen">

{% endblock css %}
{% block header %}

	Philo-b

{% endblock header %}
{% block subheader %}

    I would like to have some introductory text over here. 
	And this text could be quite long, relatively speaking
	ofcourse. 

{% endblock subheader %}
{% block content %}

	<ul>

		{% for blog in object_list %}
					
			{% if forloop.last %}

				<!--this relies on the border bottom being 0
					on every post-listing, so you want to adjust for
					the last one, IF you choose another color than
					the sites background color
				-->
				<div class="post-listing last">

			{% else %}

				<div class="post-listing">

			{% endif %}

					<a href="{{ blog.slug }},{{ blog.pk }}">
						<div
							class="title">
								<li>{{ blog.short_title }}</li>
						</div><div
							class="date">
								{{ blog.posted|date:'M d, Y' }}
						</div>
					</a>
				</div>

		{% empty %}	

			no posts at the moment

		{% endfor %}

	</ul>

{% endblock content %}

