<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block javascript %}

	<script src="{% static 'js/blog/post.js' %}"></script>

{% endblock javascript %}

{% block css %}

	<link rel="stylesheet" href="{% static 'css/blog/post.css' %}" type="text/css" media="screen">

{% endblock css %}
{% block toptag %}	

	<div class="top-tag">Philo-b</div>

{% endblock toptag %}
{% block header %}

	{{ object.title }}

{% endblock header %}
{% block subheader %}

	{{ object.introduction }}

{% endblock subheader %}
{% block content %}
<!-- maybe add some safe filters on the post and comments. 
	 dunno why you would use the linebreaks option for the
	 comments, safe seems a better option to me -->
	<div class="main-text-container">
		{{ post.body }}
	</div>

{% endblock content %}
{% block comments %}

	<hr class="separator-commentsection">

	{% if not comment_form %}

		<a class="login-links" href="{% url 'account_login' %}?next={{ request.path }}">Sign in</a> to reply or comment.<br><br>

	{% endif %}
	<script id='comment_template' type='text/template'>

		<div class="reply-layout {:is_first:}" id="comment-{:id:}">
			<div class="post-info"> 
				<div class="user-info">
					<strong>{:author_id:}</strong></div>
					<div style="text-align:center;"><strong>{:path:} 
							/ {:is_first:} / {:is_last:}</strong></div>
				<div class="date">{:pub_date:}</div>
			</div> 
			<hr class="separator-info">
			<p>{:content:}</p>
		</div>

	</script>
	<script id='button_template' type='text/template'>

			<div class="button-container">
				<a class="comment" 
				onclick="return create_subcomment_form({:id:})">
					<button class="reply">reply</button></a>
			</div>

	</script>
	{% for comment in comments %}

		<script type='text/javascript'>

			function set_data() {
				var comment_data = { 'is_first': '{{ comment.is_first }}',
									 'id': '{{ comment.id }}',
									 'author_id': '{{ comment.author_id }}',
									 'path': '{{ comment.path }}',
									 'is_last': '{{ comment.is_last }}',
									 'pub_date': '{{ comment.pub_date }}',
									 'content': '{{ comment.content|linebreaks }}',
									}
				return comment_data
			}

			function fill_comment_template(data) {
				var template = document.getElementById('comment_template').innerHTML
				template = template.replace(/{:is_first:}/g, data.is_first)
								   .replace(/{:id:}/g, data.id)
								   .replace(/{:author_id:}/g, data.author_id)
								   .replace(/{:path:}/g, data.path) 
								   .replace(/{:is_last:}/g, data.is_last)
								   .replace(/{:pub_date:}/g, data.pub_date)
								   .replace(/{:content:}/g, data.content)
								   ;
				return template
			}

			function auto_place_comment_template(text_html) {
				var comments_container = document.getElementById('comments_container') 
				comments_container.insertAdjacentHTML('beforeend', text_html)
			}

			var data = set_data()
			var text_html = fill_comment_template(data)
			auto_place_comment_template(text_html)

		</script>

		{% if comment_form and comment.is_last %}

			<script type='text/javascript'>

				function fill_button_template(id) {
					var template = document.getElementById('button_template').innerHTML
					template = template.replace(/{:id:}/g, id)
					return template
				}

				function auto_place_button_template(text_html, id) {
					var comment_container = document.getElementById('comment-' + id) 
					comment_container.insertAdjacentHTML('beforeend', text_html)
				}

				var comment_id = '{{ comment.id }}'
				var text_html = fill_button_template(comment_id)
				auto_place_button_template(text_html, comment_id)

			</script>

		{% endif %}

		<div style="clear:both;"></div>

		{% if not comment_form and comment.is_last %}

			<br><br>

		{% endif %}

	{% empty %}

		<p>No comments have been posted here</p>

	{% endfor %}

	{% if comment_form %}

		<div class="comment-layout" id="comment-new">

			<form id="comment-default" action="{% url 'add_comment' post.id %}" method="POST">
				{% csrf_token %}
				<div class="form-area-wrapper"> 
					<hr class="separator-form">
					<div class="form-userinfo">Write response with username 
						<span class="form-username">{{ user.username }}</span>:
					</div>
					<ul class="submit-errors" id="submit-errors-default"></ul>
					{{ comment_form.as_p }}
				</div>
				<div class="form-instructions">
					<ul>
						Practical information:<br/>
						<li>layout is not fully maintained, for example: 
						consecutive spaces are shown as one single space, 
						as are new lines/enters/breaks.
						<li>html code is read as plaintext.
					</ul>
				</div>
			</form>

			<div class="button-container">
				<button class="submit" 
					onclick="return submit_comment_form()">submit</button>
			</div>

		</div>

	{% else %}

	<hr class="separator-commentsection">
	<br>
		<div class="no-login">
			<div class="no-login-heading">
				<h3 class="no-login-title"></h3>
			</div>
			<div class="no-login-body">
				<a class="login-links" href="{% url 'account_login' %}?next={{ request.path }}">Sign in</a> to reply or comment.</div>
				<br><br>
		</div>

	{% endif %}

{% endblock comments %}

