<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block css %}

	<link rel="stylesheet" href="{% static 'css/blog/post.css' %}" type="text/css" media="screen">

{% endblock css %}
{% block javascript_head %}

	<script src="{% static 'js/blog/post_head.js' %}"></script>

{% endblock javascript_head %}
{% block javascript_tail %}

	<script src="{% static 'js/blog/post_tail.js' %}"></script>

{% endblock javascript_tail %}
{% block templates %}

	<script id='comment_template' type='text/template'>

		<div class="reply-layout {:is_first:}" id="comment_{:id:}">
			<div class="post-info"> 
				<div class="user-info">
					<strong>{:author_id:}</strong></div>
					<!--div style="text-align:center;"><strong>{:path:} 
							/ {:is_first:} / {:is_last:}</strong></div-->
				<div class="date">{:pub_date:}</div>
			</div> 
			<hr class="separator-info">
			<p>{:content:}</p>
		</div>
		<div class='clearing' id='clearing_{:id:}'></div>

	</script>
	<script id='button_template' type='text/template'>

			<div class="button-container">
				<a class="comment" 
				onclick="return create_subcomment_form({:id:})">
					<button class="reply">reply</button></a>
			</div>

	</script>

{% endblock templates %}
{% block toptag %}	

	<div class="top-tag">Philo-b</div>

{% endblock toptag %}
{% block header %}

	{{ object.title }}

{% endblock header %}
{% block subheader %}

	{{ object.introduction }}

{% endblock subheader %}
{% block content %}
<!-- maybe add some safe filters on the post and comments. 
	 dunno why you would use the linebreaks option for the
	 comments, safe seems a better option to me -->
	<div class="main-text-container">
		{{ post.body }}
	</div>

{% endblock content %}
{% block comments %}
	<hr class="separator-commentsection">

	{% if not comment_form %}

		<a class="login-links" 
		   href="{% url 'account_login' %}
		   ?next={{ request.path }}">Sign in
		</a> to reply or comment.
		<br><br>

	{% endif %}
	{% for comment in comments %}

		<script type='text/javascript'>

			function get_comment_data() {
				var comment_data = { 'is_first': '{{ comment.is_first|lower }}',
									 'id': '{{ comment.id }}',
									 'author_id': '{{ comment.author_id }}',
									 'path': '{{ comment.path }}',
									 'is_last': '{{ comment.is_last|lower }}',
									 // this is the same as the default variable used:
									 'pub_date': '{{ comment.pub_date|date:"DATETIME_FORMAT" }}',
									 'content': '{{ comment.content }}',
									}
				return comment_data
			}

			var comment_data = get_comment_data()
			var placing_parent = document.getElementById('comments_container')
			placing_comment(comment_data, placing_parent, null)

		</script>

		{% if comment_form and comment.is_last %}

			<script type='text/javascript'>

				var button_data = { 'id': '{{ comment.id }}' }
				placing_button(button_data)

			</script>

		{% endif %}

		{% if not comment_form and comment.is_last %}

			<br><br>

		{% endif %}

	{% empty %}

		<p>No comments have been posted here</p>

	{% endfor %}

	{% if comment_form %}

		<div class="comment-layout" id="comment_default">

			<form id="form_default" action="{% url 'add_comment' post.id %}" method="POST">
				{% csrf_token %}
				<div class="form-area-wrapper"> 
					<hr class="separator-form">
					<div class="form-userinfo">Write response with username 
						<span class="form-username">{{ user.username }}</span>:
					</div>
					<ul class="submit-errors" id="submit_errors_default"></ul>
					{{ comment_form.as_p }}
				</div>
				<div class="form-instructions">
					<ul>
						Practical information:<br/>
						<li>layout is not fully maintained, for example: 
						consecutive spaces are shown as one single space, 
						as are new lines/enters/breaks.
						<li>html code is read as plaintext.
					</ul>
				</div>
			</form>

			<div class="button-container">
				<button class="submit" 
					onclick="return submit_comment_form()">submit</button>
			</div>

		</div>

	{% else %}

	<hr class="separator-commentsection">
	<br>
		<div class="no-login">
			<div class="no-login-heading">
				<h3 class="no-login-title"></h3>
			</div>
			<div class="no-login-body">
				<a class="login-links" 
				   href="{% url 'account_login' %}
				   ?next={{ request.path }}">Sign in
				</a> to reply or comment.
			</div>
			<br><br>
		</div>

	{% endif %}

{% endblock comments %}

